@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

html {
  font-family: 'Roboto Mono';
  color: #eda766ff; /* Text color */
  background-color: #3e616cff; /* Background color */
}

header {
  background-color: white;
  border-bottom: 2px solid #ddd;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

body {
  margin: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 100px;
  margin-top: 3px;
}

.header-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  display: flex;
}

.header-links li {
  margin-right: 20px;
}

.header-link {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  margin-top: 100px;
  width: 100%;
}

main {
  margin-bottom: 60px;
}

.no-margin {
  margin-bottom: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  overflow-x: hidden;
  position: relative;
}

.normal-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  width: 80%;
  text-align: center;
  margin-top: 20px;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
}

.shop_image {
  display: block;
  margin: 0 auto;
  width: 40%;
}

/* More existing styles here */

/* Media queries */
/* For screens smaller than 600px */
@media (max-width: 600px) {
  /* Responsive adjustments */
}

/* Sub Page Formatting */
.subPage {
  color: #eda766ff; /* Text color */
}

/* Additional styles */
